.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 10px;
    z-index: 1000;
}

.content {
    margin-top: 7em;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
    width: 80%;
}


h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    font-weight: 350;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: 300;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    font-weight: 250;
}